<%- include('partials/header') %>

  <h1>Hey <%= hname %>!</h1>
  <%if(flag){%>
    <p>You seem to have no books in your list yet</p>
    <div class="cbutton">
      <form class="" action="/add" method="post">
        <button type="submit" class="btn btn-primary obutton">Add a book</button>
      </form>
    </div>
  <%}%>

  <%if(flag2){%>
    <div class="addedbooks">
      <form class="" action="/add" method="post">
        <button type="submit" class="btn btn-warning btn-lg addmore"><i class="fas fa-book"></i>           Add a book</button>
      </form>
      <%bookPosts.forEach(function(book){%>
        <div class="bookdeats">
          <h2><%=book.bookname%></h2>
          <h3>Author: <%=book.author%></h3>
          <form class="" action="/notes" method="post">
            <button type="submit" name="button" value="<%=book.bookname%>" class="btn btn-dark notebutton">Take notes</button>
          </form>
        </div>
      <%});%>
    </div>
  <%}%>

<%- include('partials/footer') %>
