<%- include('partials/header') %>

  <h1>Hey <%= hname %>!</h1>
  <%if(flag){%>
    <p>You seem to have no books in your list yet</p>
    <div class="cbutton">
      <form class="" action="/add" method="post">
        <button type="submit" class="btn btn-primary obutton">Add a book</button>
      </form>
    </div>
  <%}%>

  <%if(flag2){%>
    <div class="addedbooks">
      <form class="" action="/add" method="post">
        <button type="submit" class="btn btn-secondary btn-lg addmore"><i class="fas fa-book"></i>   Add a book</button>
      </form>
      <%bookPosts.forEach(function(book){%>
        <div class="bookdeats">
          <h2><%=book.bookname%></h2>
          <h3>Author: <%=book.author%></h3>
          <form class="" action="/chapters" method="post">
            <button type="submit" name="button" value="<%=book.bookname%>" class="btn btn-dark notebutton">Take notes</button>
          </form>
          <form class="" action="/edit" method="post">
            <button type="submit" name="id" value="<%=book._id%>" class="btn btn-warning notebuttone"><i class="fas fa-edit"></i></button>
          </form>
          <form class="" action="/delete" method="post">
            <button type="submit" onclick="clicked(event)" name="id" value="<%=book._id%>" class="btn btn-danger notebuttond"><i class="fas fa-trash-alt"></i></i></button>
          </form>
        </div>
      <%});%>
    </div>
  <%}%>
  <script>
function clicked(e)
{
  if(!confirm('Are you sure you want to delete this book?'))e.preventDefault();
}
</script>

<%- include('partials/footer') %>
